# Default frame selections. Be sure this matches the public/placeholder_frame.png. If you change these values, replace the PNG.
NEXT_PUBLIC_DEFAULT_CATEGORY=phones
NEXT_PUBLIC_DEFAULT_DEVICE=iphone-16-pro-max
NEXT_PUBLIC_DEFAULT_VARIATION=desert-titanium
